body {
    background-color: rgb(92, 134, 151)
}
#employeesGet {
    /*background-color: red;*/
}
#employeesPost {
    /*background-color: cadetblue;*/
}
#employeeRoll {
    /*background-color: lawngreen;*/
}
#employeeStatusHover:hover {
    cursor: pointer;
}